# ignore root "_" directory
# used for temporarily storing stuff without cluttering untracked git files
/_/
# tsc compile output
**/build/
# firebase service account key
**/serviceAccountKey.json
**/.env
**/*.log
**/node_modules/
**/*Dockerfile*
**/.prettierrc*
**/.gitignore
**/.eslintrc*
