/build/
/.vercel/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Created by https://www.toptal.com/developers/gitignore/api/svelte,firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=svelte,firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### Svelte ###
# gitignore template for the SvelteKit, frontend web component framework
# website: https://kit.svelte.dev/

.svelte-kit/
package

# End of https://www.toptal.com/developers/gitignore/api/svelte,firebase
